@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --color_black: #000000;
    --color_white: #FFFFFF;
    --font_passion-one: 'Passion One', sans-serif;;
    --font_sriracha: 'Sriracha', cursive;
    --font_verdana: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0;
}

header {
    background-color: var(--color_black);
    font-size: 1em;
    text-align: center;
}

h1 {
    color: var(--color_white);
    font-family: var(--font_passion-one);
    font-size: 10vw;
    font-variant: small-caps;
    padding-top: 50px;
}

header p {
    color: var(--color_white);
    font-family: var(--font_verdana);
    font-size: 1em;
    padding-bottom: 50px;
}

header a, footer a {
    color: var(--color_white);
    text-decoration: none;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

.normal, .imagem {
    padding: 10vh 0 10vh 30px;
    line-height: 2em;
    font-family: var(--font_sriracha);
    font-size: 3.5vw;
}

.normal {
    color: var(--color_black);
    background-color: var(--color_white);
}

.imagem {
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    line-height: 1.7em;
}

.img-joaninha {
    background-image: url(../imagens/background001.jpg);
}

.img-joaninha p, .img-carta p {
    color: var(--color_white);
    text-shadow: 1px 1px 0px black;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 5px;
    max-width: 43%;
}

.img-carta {
    background-image: url(../imagens/background002.jpg);
}

footer {
    background-color: var(--color_black);
    font-family: var(--font_verdana);
    color: var(--color_white);
    text-align: center;
    padding: 10px;
}